*{
    margin: 0;
    padding: 0;
    /* outline: rgb(255, 0, 0) 1px solid; */
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
@media(max-width: 480px){
    body{
        font-size: 12px;
    }
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: #1b357e;
    color: #1351d8;
    padding: 10px 20px;
    
}

.logo{
   grid-column: 1;

}

.logo img {
    height: 60px;   
}

.menu{
    grid-column: 2;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu li{
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    color: #b5b1b1;
    font-weight: bold;
}

.texto promo{
    flex: 0 0 300px;
    padding-right:  20px;

}


.textp promo p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 20px 100px;
    text-align: left;
}

.video promo{
    flex: 1;
    min-width: 0;

}

.video promo iframe{
    width: 90%;
    height: 500px;
    border-radius: 8px;

}

.tabelaCarro{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.veiculoCard{
    width: 250px;
    padding: 15px;
    margin: 10px;
}


.veiculoCard img{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.VeiculoInf{
    display: flex;
    align-items: flex-start;
}

.VeiculoInf input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 2px 10px 0 0;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
}

.VeiculoInf img{
    width: 20px;
    margin-top: auto;
    vertical-align: bottom;

}

.texto-cont{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.texto-cont h5{
    margin: 0;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #1351d8;

}

.texto-cont p{
    margin: 0;
    font-size: 12px;
    text-align: left;
    color: black;
}

.submit-botao{
    background-color: #1351d8;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;

}

.submit-botao hover{
    background-color: #00274c;
    color: #fff;
    transform: translateY(-2px);
}
